{{ 'section-contact-form.aio.min.css' | asset_url | stylesheet_tag }}

<div class="contact page-width page-width--narrow spaced-section">
  <h2 class="title">{{ section.settings.heading | escape }}</h2>
  {%- form 'contact', id: 'ServiceForm' -%}
    {%- if form.posted_successfully? -%}
      <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ServiceForm-email" class="link">
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div class="qq-contact-row">
        <div class="field-container">
            <div class="field-container cfc-33">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-first_name" name="contact[first_name]" placeholder="First Name">
                    <label class="field__label" for="ServiceForm-first_name">First Name</label>
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-last_name" name="contact[last_name]" placeholder="Last Name">
                    <label class="field__label" for="ServiceForm-last_name">Last Name</label>
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-company" name="contact[company]" placeholder="Company">
                    <label class="field__label" for="ServiceForm-company">Company</label>
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-street" name="contact[street]" placeholder="Street">
                    <label class="field__label" for="ServiceForm-street">Street Address</label>
                </div>
            </div>
            <div class="field-container cfc-25">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-city" name="contact[city]" placeholder="City">
                    <label class="field__label" for="ServiceForm-city">City</label>
                </div>
            </div>
            <div class="field-container cfc-16">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-state" name="contact[state]" placeholder="State">
                    <label class="field__label" for="ServiceForm-state">State</label>
                </div>
            </div>
            <div class="field-container cfc-25">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-zip" name="contact[zip]" placeholder="ZIP">
                    <label class="field__label" for="ServiceForm-zip">ZIP</label>
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field">
                    <input type="tel" id="ServiceForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                    <label class="field__label" for="ServiceForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field field--with-error">
                    <input
                        autocomplete="email"
                        type="email"
                        id="ServiceForm-email"
                        class="field__input"
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="ServiceForm-email-error"
                        {% endif %}
                        placeholder="{{ 'templates.contact.form.email' | t }}"
                    >
                    <label class="field__label" for="ServiceForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                    {%- if form.errors contains 'email' -%}
                        <small class="contact__field-error" id="ServiceForm-email-error">
                            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                        </small>
                    {%- endif -%}
                </div>
            </div>
            <div class="field-container cfc-33">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-po_number" name="contact[po_number]" placeholder="PO Number">
                    <label class="field__label" for="ServiceForm-po_number">PO Number</label>
                </div>
            </div>
            <div class="field-container cfc-50">
                <div class="field">
                    <div class="select">
                        <select class="select__select" id="service_for" name="contact[service_for]">
                            <option value="Equipment to Service">Equipment to Service</option>
                            <option value="Dock Equipment">Dock Equipment</option>
                            <option value="Sectional Door">Sectional Door</option>
                            <option value="High Speed Door">High Speed Door</option>
                            <option value="Material Lift">Material Lift</option>
                            <option value="Other">Other</option>
                        </select>
                        {% render 'icon-caret' %}
                    </div>
                </div>
            </div>
            <div class="field-container cfc-50">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-equipment_location" name="contact[equipment_location]" placeholder="Location of Equipment">
                    <label class="field__label" for="ServiceForm-equipment_location">Location of Equipment</label>
                </div>
            </div>
            <div class="field-container cfc-50">
                <div class="field">
                    <input class="field__input" type="text" id="ServiceForm-stated_problems" name="contact[stated_problems]" placeholder="Problem(s)">
                    <label class="field__label" for="ServiceForm-stated_problems">Problem(s)</label>
                </div>
            </div>
            <div class="field-container cfc-50">
                <div class="contact__button">
                    <button type="submit" class="button">
                        {{ 'templates.contact.form.send' | t }}
                    </button>
                </div>
            </div>
        </div>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "ES Request Service",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "ES Request Service",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "ES Request Service"
    }
  ]
}
{% endschema %}
